.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #e2e8f0;
  outline: none;
  transition: background 0.3s;
}

.range:hover {
  background: #cbd5e1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #374151;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #374151;
  cursor: pointer;
}

.range::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #374151;
  cursor: pointer;
}
